@model TorrentNews.Models.TorrentDetailsModel

@{
    ViewBag.Title = "Torrent details - Torrent news";
}

<div class="detailsWrapper">
    <div class="rightColumn">
        @if (!string.IsNullOrEmpty(Model.Poster))
        {
            <div class="detailsPoster"><img src="@Model.Poster"/></div>
        }

        <div>
            <iframe
                width="420" 
                height="236" 
                src="@Model.TrailersInfo.TrailerUrl" 
                frameborder="0" 
                allowfullscreen>
            </iframe>        
            <p class="moreTrailers"><a href="@Model.TrailersInfo.MoreTrailersUrl" target="_blank">Click here for more trailers</a></p>
        </div>
    </div>

    <div class="detailsContainer">
        @Html.Partial("_MovieInfo", Model)
        @Html.Partial("_TorrentInfo", Model)

        @if (Model.RelatedTorrents.Any())
        {
            @Html.Partial("_RelatedTorrentsTable", Model)
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Scripts/app.js"></script>
    
    <script type="text/javascript">
        configureTooltips();
    </script>
}