@using System.Configuration
<!DOCTYPE html>
<html>
    
@{
    var siteUrl = this.Request.Url.Scheme + "://" + this.Request.Url.Host;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/png" />

    <meta name="description" content="All the information about the most recent movie releases" />

    <meta property="og:image" content="@(siteUrl + "/images/share-logo.png")" />
    <meta property="og:title" content="Torrent news" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@siteUrl" />
    <meta property="og:description" content="All the information about the most recent movie releases" />
    <meta property="og:site_name" content="Torrent news" />
        
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="@siteUrl">
    <meta name="twitter:title" content="Torrent news">
    <meta name="twitter:description" content="All the information about the most recent movie releases">
    <meta name="twitter:image" content="@(siteUrl + "/images/share-logo.png")">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @{
        var analyticsTrackingId = ConfigurationManager.AppSettings["analytics-tracking-ID"];
        if (analyticsTrackingId != null)
        {
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', '@analyticsTrackingId', 'apphb.com');
              ga('send', 'pageview');

            </script>
        }
    }
</head>
<body>
    <div id="errorPopup" class="hidden">
        <button class="closeButton"><span class="icon-remove" /></button>
        <div class="popupMessage"></div>
    </div>

    <div id="signUpPopup" class="hidden">
        <button class="closeButton"><span class="icon-remove" /></button>
        <div class="popupMessage">Please sign in first
            <div style="margin-top: 20px;">
                <a class="signUpButton" href="@Url.Action("Login", "Account")"><span class="icon-signin"></span> Sign in</a>
            </div>
        </div>
    </div>

    <div id="body">
        <img id="beta-ribbon" src="/Images/beta-ribbon.gif" alt="beta ribbon"/>

        <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Torrent news</a>
                </p>
                <p class="site-subtitle">Last month releases, all the information, one place.</p>
            </div>
            
            <div class="float-right">
                @if (!Convert.ToBoolean(ViewBag.HideLoginSection))
                {
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                }

                @if (!Convert.ToBoolean(ViewBag.HideNavigationLinks))
                {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("All", "MostRecent", "Torrents", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("100+", "MostRecent", "Torrents", new { area = "", minScore = 100 }, null)</li>
                            <li>@Html.ActionLink("400+", "MostRecent", "Torrents", new { area = "", minScore = 400 }, null)</li>
                            <li>@Html.ActionLink("900+", "MostRecent", "Torrents", new { area = "", minScore = 900 }, null)</li>
                            <li>@Html.ActionLink("1000+", "MostRecent", "Torrents", new { area = "", minScore = 1000 }, null)</li>
                            <li>@Html.ActionLink("1100", "MostRecent", "Torrents", new { area = "", minScore = 1100 }, null)</li>
                            <li>@Html.ActionLink("Starred", "Starred", "Torrents", new { area = "" }, null)</li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
        
        <div style="clear: both;"></div>

        </header>
        @RenderBody()
    
    </div>

    <div id="footer"><span>© JR / <img src="/Images/twitter.png" /> @@FLXCAP</span></div>
    
    <div class="sharing-bar">
        <div>
            <a title="Share on Facebook"
                href="https://www.facebook.com/sharer/sharer.php?u=@siteUrl" target="_blank">
                <img src="/images/facebook_32.png"/>
            </a>
        </div>
        <div>
            <a title="Share on Twitter"
                href="https://twitter.com/share?url=@siteUrl" target="_blank">
                <img src="/images/twitter_32.png"/>
            </a>
        </div>
        <div>
            <a title="Share on Google+"
                href="https://plus.google.com/share?url=@siteUrl" 
                onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src="/images/googleplus_32.png"/>
            </a>
        </div>
        @*<div>
            @{
                var rssUrl = Request.IsLocal ? 
                    siteUrl + "/Torrents/MostRecentFeed" : 
                    "http://feeds.feedburner.com/torrentnews-mostrecent";
            }
            <a title="Subscribe to RSS feed"
                href="@rssUrl" target="_blank">
                <img src="/images/rss_32.png"/>
            </a>
        </div>*@

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
