<!DOCTYPE html>
<html>
    
@{
    var siteUrl = this.Request.Url.Scheme + "://" + this.Request.Url.Host;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="body">
        <img id="beta-ribbon" src="/Images/beta-ribbon.gif" alt="beta ribbon"/>
        <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Torrent news</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Most recent", "MostRecent", "Torrents", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Highest scores", "HighestScores", "Torrents", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div style="clear: both;"></div>

        </header>
        @RenderBody()
    
    </div>

    <div id="footer"><span>© JR / <img src="/Images/twitter.png" /> @@FLXCAP</span></div>
    
    <div class="sharing-bar">
        <div>
            <a title="Share on Facebook"
                href="https://www.facebook.com/sharer/sharer.php?u=@siteUrl" target="_blank">
                <img src="/images/facebook_32.png"/>
            </a>
        </div>
        <div>
            <a title="Share on Twitter"
                href="https://twitter.com/share?url=@siteUrl" target="_blank">
                <img src="/images/twitter_32.png"/>
            </a>
        </div>
        <div>
            <a title="Share on Google+"
                href="https://plus.google.com/share?url=@siteUrl" 
                onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src="/images/googleplus_32.png"/>
            </a>
        </div>
        <div>
            @{
                var rssUrl = Request.IsLocal ? 
                    siteUrl + "/Torrents/MostRecentFeed" : 
                    "http://feeds.feedburner.com/torrentnews-mostrecent";
            }
            <a title="Subscribe to RSS feed"
                href="@rssUrl" target="_blank">
                <img src="/images/rss_32.png"/>
            </a>
        </div>

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
