@model TorrentNews.Models.TorrentModel

@{
    var t = Model;
    var torrentDetailsUrl = "http://kickass.to" + t.DetailsUrl;
}

<div>
    <div class="title"><a href="@torrentDetailsUrl" target="_blank">@t.Title</a></div>
    <p><span class="label">Size: </span>@t.Size (@t.Files files)</p>
    <p><span class="label">Seed/Leech: </span>@t.Seed / @t.Leech</p>
    <p><span class="label">Comments: </span>@t.CommentsCount</p>
    <p><span class="label">Age: </span>@t.Age</p>
    <p class="hidden"><span class="label">Added on: </span>@t.AddedOn</p>
    
    <div class="relatedTorrentsContainer">
        <p class="relatedTorrentTitle">Other versions 
            @if (t.RelatedTorrents.Count == 5)
            {
                <span>(latest 5)</span>
            }
        </p>
        @foreach (var rt in t.RelatedTorrents)
        {
            //var url = "http://kickass.to" + rt.DetailsUrl;
        
            <p class="relatedTorrent">
            <a href="@Url.Action("Details", "Torrents", new { id = rt.Id })" data-title="@rt.Title" class="tooltip">@rt.Title</a>
            </p>
        }
    </div>
</div>
