@using TorrentNews.Extensions
@model IEnumerable<TorrentNews.Models.TorrentModel>

<table id="moviesTable">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var t in Model)
{
    <tr>
        <td class="posterCell">
            <a href="@Url.Action("Details", new { id = t.Id })" target="_blank">
                @if (!string.IsNullOrEmpty(t.Poster))
                {
                    <img src="@t.Poster"/>
                }
                else
                {
                    <img src="/Images/noimage-poster.png"/>
                }
            </a>
        </td>
        <td class="scoreCell"><span class="score">@t.Score</span></td>
        <td class="movieInfoCell">
            @Html.Partial("_MovieInfo", t)
        </td>
        <td class="torrentInfoCell">
            <div class="torrentInfoCellWrapper">
                @Html.Partial("_TorrentInfo", t)
            </div>
            <div class="torrentInfoCellButtonsContainer">
                <button class="trailerButton normal" data-trailer-url="/Torrents/Trailer?title=@Url.Encode(t.MovieTitle)&year=@Url.Encode(t.Year)"></button>
            </div>
        </td>
    </tr>
}
</table>
