@model TorrentNews.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register - Torrent news";
}

<h3 style="margin-top: 50px;">Associate your @ViewBag.ProviderDisplayName account</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p style="margin-bottom: 20px;">
        You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    @Html.TextBoxFor(m => m.UserName, new { @class = "registerUserName" })

    @Html.HiddenFor(m => m.ExternalLoginData)
    @Html.HiddenFor(m => m.FB_link)
    @Html.HiddenFor(m => m.FB_name)
    @Html.HiddenFor(m => m.GL_email)

    <input class="registerButton" type="submit" value="Register" />
    <div>
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
